<nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkturquoise;">
  <a class="navbar-brand" href="#">DanceStudio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home-page']">Home</a>
      </li>
    </ul>
      </div>
      </nav>
<div class="bgimg">
  <div id="register-student">
    <div class="container">
      
        <div id="register-student-row" class="row justify-content-center align-items-center">
            
            <div id="register-student-column" class="col-md-4 ">
                
                <div id="register-student-box" class="col-md-12">
                    <h2 style="text-align: center;">Student Register here...</h2>
                    <div *ngIf="!signupSuccess">
        <form (ngSubmit)= 'registerStudent()' #addForm="ngForm">            
            
          <div class="form-group">
            <label>Enter Your First Name:</label><br>
            <input type="text"  class="form-control" [(ngModel)]=student.fName name="firstName" placeholder="Abc" #fName= ngModel pattern="[A-Za-z]+" required>
            <!-- <span *ngIf="fName.touched && fName.invalid" class="alert-danger"> 
              Invalid first name or first name cannot be empty</span> -->
              <div [hidden]="fName.valid || fName.pristine" class="alert alert-danger">
                <div [hidden]="!fName.hasError('required')">First Name is required</div>
                <div [hidden]="!fName.hasError('pattern')">Only alphabets are allowed</div>
              </div>
              <hr>
          </div>
          <div class="form-group">
            <label>Enter Your Last Name:</label><br>
            <input type="text"  class="form-control" [(ngModel)]=student.lName name="lastName" placeholder="Abc" #lName= ngModel pattern="[A-Za-z]+" required>
            <!-- <span *ngIf="lName.touched && lName.invalid" class="alert-danger"> 
              Invalid last name or last name cannot be empty</span> -->
              <div [hidden]="lName.valid || lName.pristine" class="alert alert-danger">
                <div [hidden]="!lName.hasError('required')">Last Name is required</div>
                <div [hidden]="!lName.hasError('pattern')">Only alphabets are allowed</div>
              </div>
              <hr>
          </div>

          <div class="form-group">
            <label>Enter Your Email Id:</label><br>
            <input type="email"  class="form-control" [(ngModel)]=student.userName name="EmailId" placeholder="abc@gmail.com" #email= ngModel pattern="[A-Za-z0-9]{1}[a-zA-Z._0-9]{3,}@[a-z]{3,}.[a-z]{2,}" required>
            <!-- <span *ngIf="email.touched && email.invalid" class="alert-danger"> 
              Invalid emailId or emailId cannot be empty</span> -->
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                <div [hidden]="!email.hasError('required')">Email Id is required</div>
                <div [hidden]="!email.hasError('pattern')">Email Id must contain numbers, alphabets and special characters</div>
                </div>
              <hr>
          </div>

         

          <div class="form-group">
            <label>Enter Your Password: </label><br>
            <input type="password"  class="form-control" [(ngModel)]=student.password name="Password" placeholder="your password" #password = ngModel pattern="[a-zA-Z@_0-9]{1,}" minlength="8" maxlength="15" required>
            <!-- <span *ngIf="password.touched && password.invalid " class="alert-danger"> 
              Invalid password or password cannot be empty</span> -->
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors.required">Password is required.</div>
                <div *ngIf="password.errors.minlength">Password must be atleast 8 characters long.</div>
                <div *ngIf="password.errors.pattern">Invalid Password!!!</div>
                <div *ngIf="password.errors.maxlength">Password cannot exceed 15 characters.</div>
                </div>

              <hr>
          </div>

          <div class="form-group">
            <label>Enter Your Mobile No.:</label><br>
            <input type="tel"  class="form-control" [(ngModel)]=student.contactNo name="Mobile" placeholder="9876543210" #mobile=ngModel pattern="[6-9][0-9]+" minlength="10" maxlength="10" required>
            <!-- <span *ngIf="mobile.touched && mobile.invalid " class="alert-danger"> 
              Invalid mobile number or mobile number cannot be empty</span> -->
              <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger">
                <div [hidden]="!mobile.hasError('minlength')">It should be of 10 digits</div>
                <div [hidden]="!mobile.hasError('required')">Contact No. is required</div>
                <div [hidden]="!mobile.hasError('pattern')">Mobile number should contain only numbers and should be an Indian number</div>
              </div>
              <hr>
          </div>

            
           
        
           <!-- <div class="form-group">
             <label>Role: </label><br>
          <label class="radio-inline"><input type="radio" [(ngModel)]=user.gender value="User" name="optradio" checked>User</label>
          <label class="radio-inline"><input type="radio" [(ngModel)]=user.gender value="Admin" name="optradio">Admin</label>
          <label class="radio-inline"><input type="radio" [(ngModel)]=user.gender value="Choreographer" name="optradio">Choreographer</label>
        <hr>  
        </div>  -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
                  
                  
          <div class="form-group">
            <br>
            <button class="btn btn-success" type="submit" [disabled] ="!addForm.valid">Register Student</button>
          </div>
        </form>
</div>
</div>
  
  
