<app-header></app-header>
<div class="card">
  <div class="bgimg">
    <h3 style="text-align: center;">Student Service!!!</h3>
  <div class="card-body">
      <div class="chor" style="text-align: center;">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <a [routerLink]="['/stprofile']" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">My Profile</a>
          <!-- <a [routerLink]="['/register-chor']">Choreographer Registration</a> -->
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="student">
              <a [routerLink]="['/added-dance']" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">My Programs</a>
          <!-- <a [routerLink]="['/register-student']">Student Registration</a> -->
          </span>
          &nbsp;&nbsp;&nbsp;
          <span class="student-search">
            <a [routerLink]="['/chor-search']" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Find Choreographer</a>
          </span>
          &nbsp;&nbsp;&nbsp;
          <span class="student-search">
            <a [routerLink]="['/dance-add']" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add Dance</a>
          </span>
          
      </div>
  </div>
  </div>
</div>
