<app-chor-header></app-chor-header>
<div >
    <h1>Hii {{choreographer.fName}}... </h1>
    <h4>Your details::</h4><td></td>
      <table class="table table-bordered" >
       <!-- <tr>
         <th><h1>Hii {{choreographer.fName}}... </h1></th>
      </tr>
      <tr>
        <h2>Your details::</h2><td></td>
      </tr> -->
       <tr>
           <td>Choreographer Id: </td> <td>{{choreographer.choreographerId}}</td>
       </tr>
       <tr>
          <td>Email: </td>  <td>{{choreographer.userName}}</td>
        </tr>
        <tr>
         <td>First Name: </td>  <td> {{choreographer.fName}}</td>
       </tr>
       <tr>
         <td>Last Name: </td><td>{{choreographer.lName}}</td>
       </tr>
      
       <tr>
         <td>Contact No.:</td>  <td> {{choreographer.contactNo}}</td>
       </tr>
       <tr>
         <td>Status: </td>  <td>{{choreographer.status}}</td>
       </tr>
       <tr>
          <td>Capacity: </td>  <td>{{choreographer.capacity}}</td>
        </tr>
        <tr>
          <td>Dance Form: </td>  <td>{{choreographer.danceStyle}}</td>
        </tr>
        <tr>
          <td>Time Preference: </td>  <td>{{choreographer.timePref}}</td>
        </tr>
       <tr>
          <td>Place: </td>  <td>{{choreographer.place}}</td>
        </tr>
        </table>
        </div>