<app-chor-header></app-chor-header>
      <div class="card">

        <div class="bgimg">
          <h3 style="text-align: center;">Choreographer Service!!!</h3>
        <div class="card-body">
            <div class="chor" style="text-align: center;">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                <a [routerLink]="['/chor-details']" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">My Profile</a>
                <!-- <a [routerLink]="['/register-chor']">Choreographer Registration</a> -->
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="student">
                    <a [routerLink]="['/chor-danceview']" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">My Programs</a>
                <!-- <a [routerLink]="['/register-student']">Student Registration</a> -->
                </span>
            </div>
        </div>
        </div>
    </div>
        
    
    
    
    
    


