/* .bgimg{
    /* height:auto; background-size:cover; width:auto; */
    /* background-image:url("/assets/img/stage.jpg"); */
    /* background-position:100% 100%; */
  /* }  */ 
  /* #container {
    margin: 0;
    width: 100%;
    right: 0px;
    left: 0px;
  }
  body {
    background-color: rgb(209, 161, 99)
  } */