<div>
  <carousel>
        <slide>
          <img src="assets/img/dance-background-png-3.jpg" alt="first slide" style="display: block; ">
        </slide>
        <slide>
          <img src="assets/img/images.png" alt="second slide" style="display: block; ">
        </slide>
        <slide>
          <img src="/assets/img/stage.jpg" alt="third slide" style="display: block; ">
        </slide>
      </carousel>
    </div>
    <br>

    <!-- Dance Style description -->
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Master A Variety Of Styles </h1>
        <p class="card-text">Learn moves, skills, and full routines in a range of popular styles.</p>
        <div class="row">
      <div class="col-sm-4">
        <div class="card text-center">
    <div class="card text-white bg-info mb-3">
     <div class="card-body">
        <h4 class="card-title">BHARATANATYAM</h4>
      </div>
    </div>
  </div>
      </div>
  <div class="col-sm-4">
    <div class="card text-center">
  <div class="card text-white bg-secondary mb-3">
   <div class="card-body">
      <h4 class="card-title">POPPING</h4>
    </div>
  </div>
</div>
  </div>
<div class="col-sm-4">
  <div class="card text-center">
  <div class="card text-white bg-info mb-3">
   <div class="card-body">
      <h4 class="card-title">HOUSE</h4>
    </div>
  </div>
</div>
</div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card text-center">
<div class="card text-white bg-secondary mb-3">
 <div class="card-body">
    <h4 class="card-title">BREAKING/BBOY</h4>
  </div>
</div>
</div>
  </div>
<div class="col-sm-4">
  <div class="card text-center">
<div class="card text-white bg-info mb-3">
<div class="card-body">
  <h4 class="card-title">HIP HOP</h4>
</div>
</div>
</div>
</div>
<div class="col-sm-4">
  <div class="card text-center">
<div class="card text-white bg-secondary mb-3">
<div class="card-body">
  <h4 class="card-title">KATHAK</h4>
</div>
</div>
</div>
</div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card text-center">
<div class="card text-white bg-info mb-3">
 <div class="card-body">
    <h4 class="card-title">DANCEHALL</h4>
  </div>
</div>
</div>
  </div>
<div class="col-sm-4">
  <div class="card text-center">
<div class="card text-white bg-secondary mb-3">
<div class="card-body">
  <h4 class="card-title">WHACKING</h4>
</div>
</div>
</div>
</div>
<div class="col-sm-4">
  <div class="card text-center">
<div class="card text-white bg-info mb-3">
<div class="card-body">
  <h4 class="card-title">HEELS/JAZZ FUNK</h4>
</div>
</div>
</div>
</div>
</div>

  </div>
  </div>

  <!-- Choreographer Description -->
<div class="card">
  <div class="card-body">
      <h1 class="card-title">Designed With The Best</h1> 
      <p class="card-text">Every class and program is thoughtfully designed by dance style pioneers and sought after choreographers.</p>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/img/kathak.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pragati Mishra</h5>
        <p class="card-text">Bharatanatyam Dancer</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/Boogie-frantick.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Boogie Frantick</h5>
        <p class="card-text">Popping Champion</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/SwatiPotulwar.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Swati Potulwar</h5>
        <p class="card-text">Kathak Dancer</p>
       </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/ArifChaudhary.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Arif Chaudhary</h5>
        <p class="card-text">B-Boy Dancer</p>
       </div>
    </div>
  </div>
  </div>
  </div>


  <!-- Pricing Details -->
  <!-- <div class="container"> -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4 float-right">
          <h2>Unlimited Classes</h2>
          <h4> For The Price Of One</h4>
          <p>Access 600+ classes and enjoy new releases every week – without breaking the bank.<p>
        </div>
        <div class="col-sm-4">
  <div class="card border-dark mb-3" style="max-width: 28rem; ">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body text-dark">
      <h4 class="card-title" style="font-size: large; text-align: center;">MONTHLY PLAN</h4>
      <p class="card-text" style="font-size: xx-large; text-align: center;">1100 Rs/month</p>
    </div>
  </div>
  </div>
<div class="col-sm-4">
  <div class="card border-warning mb-3" style="max-width: 28rem;">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body text-dark">
      <h4 class="card-title" style="font-size: large; text-align: center;">ANNUAL PLAN</h4>
      <p class="card-text" style="font-size: xx-large; text-align: center;">1000 Rs/month</p>
    </div>
    <div class="card-footer bg-warning border-warning" style="background-color: yellow;">
      <p class="card-text" style="text-align: center;">Rs. 10000 paid yearly</p>
    </div>
  </div>
  </div>

  </div>
  <!-- </div> -->

  </div>
  </div>

  

