<app-header></app-header>
<div class="bgimg">
<div >
    <h1>Hii {{student.fName}}... </h1>
    <h4>Your details::</h4><th></th>
    <table class="table table-bordered" >
     <!-- <tr>
       <th><h1>Your Details</h1></th>
     </tr> -->
     <tr>
         <th>Student Id: </th> <th>{{student.studentId}}</th>
     </tr>
     <tr>
       <th>First Name: </th>  <th> {{student.fName}}</th>
     </tr>
     <tr>
       <th>Last Name: </th><th>{{student.lName}}</th>
     </tr>
     <tr>
       <th>Email: </th>  <th>{{student.userName}}</th>
     </tr>
     <tr>
       <th>Contact No.:</th>  <th> {{student.contactNo}}</th>
     </tr>
     <tr>
       <th>Status: </th>  <th>{{student.status}}</th>
     </tr>
    </table>
      </div>
      </div>